# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Virtual environments
venv/
env/

# Project specific
*.trace
ci_log*.txt
history.html
version.html

# Build artifacts
dist/
*.egg-info/
build/
%TEMP%/
